<!DOCTYPE html>
<html lang="en">

<head>
  {{> head}}
</head>

<body class="home">
  {{> nav}}

  <main class="responsive">
    <div class="grid">
      <div class="s12 m6 l6">
        <div class="bottom active">
          <article class="no-elevate round large large-padding middle-align">
            <div class="large-padding">
              <h1 class="blog-title large primary-text">TL;DR</h1>
              <h6 class="blog-title large">ramblings and ruminations; mostly inane, rarely profound</h6>
            </div>
          </article>
        </div>
      </div>
      <div class="s12 m6 l6">
        <div class="top active">
          <article class="no-elevate round large no-padding">
            <img class="responsive theme-image light" src="{{{uiRootPath}}}/img/ponte-light.jpg" alt="Ponte City typical floor plan">
            <img class="responsive theme-image dark" src="{{{uiRootPath}}}/img/ponte-dark.jpg"
              alt="Ponte City typical floor plan (blueprint style)">
            <a href="https://www.theheritageportal.co.za/article/ponte-saga" target="_blank"
              class="absolute right bottom margin circle small tertiary-container">
              <i class="tiny">attribution</i>
            </a>
          </article>
        </div>
      </div>
    </div>
    <div class="large-space"></div>
    <hr class="large">
    <div class="large-space"></div>
    <section class="responsive">
      <h2>Featured</h2>
      <div class="large-space"></div>
      {{#with (articles site)}}
      {{#if this}}
      <div class="grid">
        {{#each this}}
        <div class="s12 m6 l6">
          <article class="round no-elevate no-padding wave" style="position: relative">
            <a href="{{{./url}}}" class="absolute left top right bottom" style="z-index: 1"></a>
            <img class="responsive large"
              src="https://lh3.googleusercontent.com/3rF796oZVGbGTqIOBAk4TMP5Ymq6EMXWBowNZT7hT4WWqMjjvB5fHvyEFOVqUAyG44xer2-TGx5-1VohPmKxW3qLmXy6cH7vveTe3mPsBQyKRVqRwXU=w960"
              alt="{{title}}">
            <div class="large-padding">
              <h6>{{title}}</h6>
              <p>{{summary}}</p>
            </div>
          </article>
        </div>
        {{/each}}
      </div>
      {{else}}
      <p>No posts available yet.</p>
      {{/if}}
      {{/with}}
    </section>
  </main>
  {{> footer-scripts}}
</body>

</html>
